.form-container {
	display: flex;
	gap: 2rem;
}

.form-container > * {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

label {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 14px;
	font-weight: 700;
	color: var(--clr-primary-700);
}

input {
	max-width: 120px;
	width: 100%;
	font-size: 26px;
	padding: 0.5rem 0.75rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	box-sizing: border-box;
	border: none; /* <-- This thing here */
	border: solid 1px #ccc;
	border-radius: 10px;
	border-color: var(--clr-primray-300);
	transition: border 250ms ease;
}

input:focus-visible,
input:hover {
	outline-color: var(--clr-accent);
	outline-offset: 1px;
	border-color: var(--clr-accent);
	outline: var(--clr-accent);
}

.error-message {
	font-size: 10px;
	font-style: italic;
}

.error > *:not(input) {
	color: var(--clr-error);
}

.error input {
	outline-color: var(--clr-error);
	border-color: var(--clr-error);
}

@media screen and (max-width: 600px) {
	form {
		gap: 1rem;
		justify-content: center;
	}

	input {
		font-size: 18px;
		border-radius: 5px;
		padding: 0.3rem 0.5rem;
		max-width: 100px;
	}

	label {
		font-size: 12px;
	}
}
