:root {
	/* COLORS */
	--purple: hsl(259, 100%, 65%);
	--light-red: hsl(0, 100%, 67%);

	--white: hsl(0, 0%, 100%);
	--off-white: hsl(0, 0%, 94%);
	--light-grey: hsl(0, 0%, 86%);
	--smokey-grey: hsl(0, 1%, 44%);
	--off-black: hsl(0, 0%, 8%);

	--clr-accent: var(--purple);
	--clr-error: var(--light-red);
	--clr-primary-900: var(--off-black);
	--clr-primary-700: var(--smokey-grey);
}

body {
	font-family: 'Poppins', sans-serif;
	margin: 0;

	min-height: 100vh;
	min-height: 100dvh;
	display: grid;
	place-items: center;
	background-color: var(--off-white);
}

